{% set iconUrl = view.getAssetManager().getPublishedUrl('@doublesecretagency/inventory/icon.svg', true) %}
<div class="pane" style="">
    <img src="{{ iconUrl }}" alt="" width="120" style="float:left; margin:12px;">
    <div style="padding-left: 160px">
        <h2>Welcome! Thanks for using the Inventory plugin.</h2>
        <p>Below, you will see a complete list of existing fields. To see where each field is currently being used, click the <strong>arrow toggle</strong> in the left column.</p>
        <p>Toggling each list of field layouts will show you where the field is currently in use.</p>
    </div>
    <div style="clear:both"></div>
</div>
