table.inventory {}

table.inventory tr td:first-child {
    padding-left: 20px;
}

table.inventory span.a {
    color: #0d78f2;
    cursor: pointer;
}
table.inventory span.a:hover {
    text-decoration: underline;
}

table.inventory .layout-details {
    position: relative;
    display: inline-block;
    margin: 2px 8px 3px;
    border-radius: 4px;
    border: 1px solid #e3e5e8;
    background: #fafafa;
    outline: none;
}

table.inventory .toggle,
table.inventory .layouts-total {
    cursor: pointer;
}

table.inventory .field-name {
    font-weight: bold;
}

table.inventory thead tr th {
    padding-top: 25px !important;
}
table.inventory thead:first-child tr th {
    padding-top: 5px !important;
}
table.inventory .layout-details table.data thead tr th {
    padding-top: 7px !important;
}

table.inventory .layout-details table.data thead tr th,
table.inventory .layout-details table.data tbody tr td {
    padding: 6px 15px;
}

table.inventory .layout-details table.data thead tr:first-child th,
table.inventory .layout-details table.data tbody tr:first-child td {
    border-top-width: 0px;
}

table.inventory .layout-details table.data tbody tr:last-child td {
    border-bottom-width: 0px;
}

table.inventory .layout-details p {
    padding: 8px 14px;
}