table.inventory .layout-details {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 2px 8px 3px 0;
    border-radius: 4px;
    border: 1px solid #9aa5b1;
    background: #f3f7fc;
    outline: none;
}
table.inventory .fieldtoggle {
    cursor: pointer;
    font-weight: bold;
}
table.inventory .layout-details th {
    text-decoration: underline;
}
table.inventory .layout-details p {
    font-style: italic;
    padding: 11px 16px 10px;
}
table.inventory .layout-details td.deleted {
    color: #FB787F;
    font-style: italic;
    text-decoration: line-through;
}
