div#field-groups {
    height: 70px;
    text-align: right;
}

div#field-groups p {
    float: right;
    padding-right: 10px;
    margin-top: 7px;
    font-weight: bold;
}
div#field-groups .select {
    text-align: right;
    float: right;
}

table.inventory .layout-details {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 2px 8px 3px 0;
    border-radius: 4px;
    border: 1px solid #9aa5b1;
    background: #f3f7fc;
    outline: none;
}
table.inventory .fieldtoggle {
    cursor: pointer;
    font-weight: bold;
}
table.inventory .btn-col {
    text-align: right;
}

table.inventory .layout-details th {
    text-decoration: underline;
}
table.inventory .layout-details p {
    font-style: italic;
    padding: 11px 16px 10px;
}
table.inventory .layout-details td.deleted {
    color: #FB787F;
    font-style: italic;
    text-decoration: line-through;
}
table.inventory .layout-details td.unused {
    color: #FB787F;
    font-style: italic;
}
