{% extends 'inventory/_layout' %}
{% set selectedSubnavItem = 'fields' %}
{% set title = "Field Inventory"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set groups = craft.fields.getAllGroups('id') %}

{% if (groupId is defined) and (groupId is not null) %}
	{% if groups[groupId] is not defined %}
		{% exit 404 %}
	{% endif %}

	{% set fields = groups[groupId].getFields() %}
{% else %}
	{% set fields = craft.fields.getAllFields() %}
{% endif %}

{% hook 'getFieldLayouts' %}

{% includeCssResource 'inventory/css/inventory.css' %}
{% includeJsResource  'inventory/js/inventory.js' %}

{% macro layoutRow(layout) %}
	<tr>
		<td>{{ layout.id }}</td>
		<td>{{ layout.elementType ?? '-' }}</td>
		<td>{{ layout.section     ?? '-' }}</td>
		<td>{{ layout.entryType   ?? '-' }}</td>
		<td>{{ layout.tab         ?? '-' }}</td>
		<td>{{ (layout.editLayout ? '<a href="' ~ layout.editLayout ~ '">' ~ "Edit layout"|t ~ '</a>' : '&nbsp;')|raw }}</td>
	</tr>
{% endmacro %}

{% import _self as inventoryMacros %}


{% block sidebar %}
	<nav>
		<ul id="groups">
			<li><a href="{{ url('inventory/fields') }}"{% if groupId is not defined %} class="sel"{% endif %}>{{ "All Fields"|t }}</a></li>
			{% for group in groups %}
				<li><a href="{{ url('inventory/fields/'~group.id) }}"{% if groupId is defined and group.id == groupId %} class="sel"{% endif %} data-id="{{ group.id }}">{{ group.name|t }}</a></li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}

{% block content %}
	<p id="nofields"{% if fields %} class="hidden"{% endif %}>
		{% if groupId is defined %}
			{{ "This group doesn’t have any fields yet."|t }}
		{% else %}
			{{ "No fields exist yet."|t }}
		{% endif %}
	</p>
	<div class="elements">
		<div class="tableview">
			<table class="data fullwidth collapsible inventory">
				<thead>
					<tr>
						<th scope="col">{{ "Layouts"|t }}</th>
						<th scope="col">{{ "Name"|t }}</th>
						<th scope="col">{{ "Handle"|t }}</th>
						<th scope="col">{{ "Type"|t }}</th>
						{% if groupId is not defined %}<th scope="col">{{ "Group"|t }}</th>{% endif %}
						<th scope="col">{{ "Edit"|t }}</th>
					</tr>
				</thead>
				<tbody>
					{% for f in fieldLayouts %}
						{% set field   = f.field %}
						{% set layouts = f.layouts %}

						{% set showDetails = false %}
						<tr>
							<td>
								<span class="toggle {{ showDetails ? 'expanded' }}" data-id="{{ field.id }}" title="Show/hide details"></span>
								<span class="layouts-total" onclick="toggleFieldLayouts(this)">{{ layouts|length }}</span>
							</td>
							<td><div class="element small" style="font-weight:bold"><span class="a" onclick="toggleFieldLayouts(this)">{{ field.name }}</span></div></td>
							<td><code>{{ field.handle }}</code></td>
							<td>
								{% set fieldType = field.getFieldType() %}
								{% if fieldType %}
									{{ fieldType.name }}
								{% else %}
									<span class="error">{{ field.type }}</span>
								{% endif %}
							</td>
							{% if groupId is not defined %}<td>{{ field.group.name|t }}</td>{% endif %}
							<td><a href="{{ url('settings/fields/edit/' ~ field.id) }}">{{ "Edit field"|t }}</a></td>
						</tr>
						<tr id="field-{{ field.id }}" {{ not showDetails ? 'style="display:none;"'|raw }}>
							<td colspan="6">
								<div class="layout-details">
									{% if layouts %}
										<table class="data fullwidth">
											<thead>
												<tr>
													<th scope="col">{{ "Layout ID"|t }}</th>
													<th scope="col">{{ "Element Type"|t }}</th>
													<th scope="col">{{ "Section"|t }}</th>
													<th scope="col">{{ "Entry Type"|t }}</th>
													<th scope="col">{{ "Tab"|t }}</th>
													<th scope="col">{{ "Edit"|t }}</th>
												</tr>
											</thead>
											<tbody>
												{% for layout in layouts %}
													{{ inventoryMacros.layoutRow(layout) }}
												{% endfor %}
											</tbody>
										</table>
									{% else %}
										<p>This field is not being used anywhere.</p>
									{% endif %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}